<div class="container">
  <div class="row">
    <h1>Welcome to your Pair Dashboard <%= current_user.nickname %> </h1>
  </div>

  <div class="row">
    <%= link_to "Find Pair", "#" %>
  </div>
</div>
