<h1>StaticPages#home</h1>
<p>Where a user should be logging in, duh!</p>

<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Welcome to Pairr</h1>
    <h2 class="home">Looking for Love in all the wrong places?</h2>
    <%= link_to "Login with Github", "/auth/github", class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
